<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="assets/images/book.jpg" width="100%">
            <div class="dropdown">
                <div class="dropdown-list grid-column">
                    <ul>
                        <li>Book Promotion Sites</li>
                        <li>Book Review Blogs</li>
                        <li>Booktube Channel Guide</li>
                        <li>Book Title Generator</li>
                        <li>Character Name Generator</li>
                        <li>Independent Publishers</li>
                        <li>Literary Agents</li>
                        <li>Literary Magazines</li>
                        <li>Pen Name Generator</li>
                        <li>Plot Generator</li>
                        <li>Short Story Ideas</li>
                        <li>Writing Contests</li>
                        <li>Writing Exercises</li>
                        <li>Writing Scholarships</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h3>Create Account</h3>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">First Name</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="{{ fname }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Last Name</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="{{ lname }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="{{ email }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Number</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="{{ number }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Password</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="{{ password1 }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Confirm Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="{{ password2 }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Current City</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="{{city1}}">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Native City</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="{{city2}}">
                </div>


                <button type="submit" class="btn"
                    style="background-color: green; color: white; border: 1px solid green; border-radius: 5px;">
                    Create Account</button>
            </form>
        </div>
    </div>

</div>